# Виртуальное окружение
venv/
.env/
ENV/

# База данных SQLite
*.sqlite3
*.db

# Файлы настроек с чувствительной информацией
.env
*.env.local
.env.production

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py

# Статические файлы (если собираются через collectstatic)
/staticfiles/
/mediafiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Операционные системы
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db